header {
  .header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    img {
      width: 220px;
    }
  }
  .btn-store {
    display: flex;
    gap: 15px;
    .btn {
      padding: 13px 40px !important;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
      &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
    }
    .btn.border-primary {
      border-color: #007bff;
      color: #007bff;
      &:hover {
        background-color: #f8f9fa;
        color: #0056b3;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 15px;
      img {
        width: 180px;
      }
    }
    .btn-store {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      .btn {
        padding: 6px 15px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    .container {
      align-items: center;
    }
    .logo {
      img {
        width: 150px;
      }
    }
    .btn-store {
      flex-direction: column;
      align-items: center;
      .btn {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
