.pricing-page {
  @extend .flex-container;
  @extend .flex-column;
  gap: 100px;

  .space {
    margin-bottom: 55px;
  }

  &-header {
    @extend .flex-container;
    @extend .flex-column;
    @extend .flex-align-center;
    gap: 18px;
    text-align: center;
    color: map-get($colors, text);
  }
}
