.social_temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.template_dam8 {
  background-color: #ffffff;
  padding: 32px;
  width: 50%;
  margin: 50px auto;
}
.social_temp {
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: space-between;
  margin-top: 26px;
}
.template_hero_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
