.temp39 {
  display: flex;
  background-color: #5d0070;
  width: 55%;
  margin: 0 auto;
  padding: 50px;
  .temp39_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .temp39_hero {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
}
