// colums quantity
$grid-columns: 12;

// width varaibles
$widths: 0%, 25%, 50%, 75%, 100%;

// breakpoints for responsive 
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// spacers margins and padding
$spacer: 5px;
$spacers: (
  0: ($spacer * 0,
  ),
  1: ($spacer * 1,
  ),
  2: ($spacer * 2,
  ),
  3: ($spacer * 3,
  ),
  4: ($spacer * 4,
  ),
  5: ($spacer * 5,
  ),
  6: ($spacer * 6,
  ),
  7: ($spacer * 7,
  ),
  8: ($spacer * 8,
  ),
  9: ($spacer * 9,
  ),
  10: ($spacer * 10,
  ),
);

// page main colors
$colors: (
  "background": #F7F7F7,
  "natural": #fff,
  "inky": #000000,
  "primary": #1A73E8,
  "primary10": #2E75D4,
  "primary30": #5E9DEF,
  "primary30d": #1251A3,
  "primary60": #A3C7F6,
  "primary60d": #0A2E5D,
  "primaryFAQ": #EFF5FD,
  "access": #34A853,
  "secondary": #FB7701,
  "danger": #d9534f,
  "silvery": #EFF5FD,
  "light": #ADADAD,
  "light10": #F1F1F1,
  "light30": #9C9C9C,
  "light60": #DDDDDD,
  "text": #3C3C3C,
  "text10": #4F4F4F,
  "text30": #767676,
  "text60": #B1B1B1,
);

$offset-values: 1, 2, 3, 4, 5;

// generate font varaibles from 10 till 100
$font-sizes: (
);

@for $i from 10 through 100 {
  $font-sizes: map-merge($font-sizes, (#{$i}: #{$i}px));
}

$font-weights: (
  lighter: lighter,
  light: 300,
  normal: normal,
  bold: bold,
  bolder: bolder,
);

$flex-values: (
  start,
  end,
  center,
  space-between,
  space-around
);