.disclaimer {
  @extend .p-5;
  margin-bottom: 60px;
  background-color: map-get($colors, silvery);

  p {
    @extend .font-weight-500;
    @extend .font-size-14;
    @extend .mb-3;
    color: #767676;
  }

  ul {
    line-height: 0.8;

    li {
      @extend .font-size-12;
      color: #b1b1b1;
    }
  }
}
