.temp25 {
  background-image: url("../../../assets/images/templateBanner/temp8.png");
  width: 60%;
  height: 300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative;
  position: relative;
  .temp24_hero {
    position: absolute;
    left: 150px;
    display: flex;
    bottom: 10px;
    gap: 18px;
  }
  .temp26_head {
    position: absolute;
    right: 200px;
    top: 30px;
  }
}
