.tem_27 {
  background-image: url("../../../assets/images/templateBanner/temp9.png");
  width: 50%;
  height: 350px;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding: 30px 20px;
  button {
    width: 19%;
    border-radius: 7px;
    padding: 10px 0;
    color: #033f5e;
  }
}
