.forgot {
  padding: 33px 72px;
  border-radius: 12px;

  .forgot_title {
    width: 100%;
  }

  input {
    padding: 16px 18px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 12px;
  }
}

.f_pass {
  margin: 80px auto;
}
