.template_dam13 {
  background-image: url("../../../assets/images/templateBanner/temp5.png");
  width: 60%;
  height: 500px;
  margin: 0 auto;
  background-color: #034364;

  .damp12 {
    text-align: center;
    padding-top: 60px;

    h1 {
      font-size: 70px;
      color: #ffffff;
      font-family: "Ingrid Darling", cursive;
    }
    button {
      color: #253352;
      border-radius: 8px;
      width: 20%;
      padding: 12px 0;
      margin-top: 31px;
    }
  }

  .temp12_hero {
    gap: 25px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
