:root {
  --utils-width: 88px;
  --dashboard-width: 665px;
}

.dashboard-design {
  .utils {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 88px;
    max-width: 88px;
    width: 100%;
    max-height: 550px;
    border-radius: 12px;
    border: 2px solid map-get($colors, primary90);
    background-color: map-get($colors, natural);
    overflow-y: hidden;
    transition:
      max-width 0.3s ease,
      padding 0.3s ease;

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map-get($colors, primaryFAQ);
      width: 100%;
      border-radius: 12px 12px 0 0;
      padding: 10px;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid map-get($colors, primary);
        background-color: map-get($colors, light60);
      }
    }

    .utils-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.utils-custom {
      max-width: 305px;
      transition:
        max-width 0.3s ease,
        padding 0.3s ease;

      .avatar {
        .account {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-info {
            h4 {
              @extend .font-size-18;
              @extend .font-weight-500;
              color: map-get($colors, text);
            }

            p {
              @extend .font-size-12;
              color: map-get($colors, text10);
            }
          }

          svg {
            @extend .font-size-12;
            @extend .font-weight-500;

            color: map-get($colors, text30);
          }
        }
      }

      .utils-icons {
        width: 100%;
        gap: 12px;

        &.utils-custom-icons {
          align-items: start;

          span {
            font-size: 14px;
            color: map-get($colors, text10);
          }
        }

        .icon {
          flex-direction: row;
          padding: 16px 14px;
          gap: 12px;

          span {
            font-size: 18px;
          }
        }
      }
    }

    .utils-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 3px;
        border-radius: 6px;
        transition: all 0.2s ease;
        width: 100%;

        img {
          width: 24px;
          height: 24px;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: map-get($colors, text30);
        }

        &:hover {
          background-color: map-get($colors, silvery);
        }

        &.active {
          background-color: map-get($colors, silvery);
        }
      }
    }

    .utils-border {
      border-top: 1px solid map-get($colors, light60);
    }
  }

  .dashboard {
    max-width: 665px;
    width: 100%;
    @extend .flex-container;
    @extend .flex-column;
    gap: 20px;
    margin-left: 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 0.2s ease forwards;

    .titles,
    .links,
    .qr,
    .photo,
    .banner-upload {
      background-color: map-get($colors, natural);
      border-radius: 12px;
    }

    .uploader {
      .ant-upload-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        &-item {
          display: flex;
          align-items: end;
          padding: 0;

          &::before {
            width: 100% !important;
            height: 100% !important;
            border-radius: 6px;
          }

          &-actions {
            display: flex;
            justify-content: end;
            padding: 15px 10px;

            a {
              display: none;
            }
          }

          img {
            object-fit: cover !important;
          }
        }
      }

      .upload-button {
        svg {
          color: map-get($colors, primary);
          width: 36px;
          height: 36px;
        }

        p {
          @extend .font-size-10;
          color: map-get($colors, text);
          line-height: 1.5;
        }
      }
    }

    form {
      .form-group {
        .form-control {
          height: 41px;
          background-color: map-get($colors, background);
          border: none;
        }
      }

      .flag-dropdown {
        border: none;
        border-radius: 8px;
      }
    }

    .title {
      @extend .flex-container;
      @extend .flex-align-center;
      @extend .flex-justify-space-between;
      @extend .mb-4;

      h3 {
        @extend .font-size-18;
        @extend .font-weight-500;
        color: map-get($colors, text);
      }

      button {
        @extend .flex-container;
        @extend .flex-align-center;
        gap: 7px;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid map-get($colors, lightGray40);
        background-color: map-get($colors, natural);

        svg {
          @extend .font-size-16;
        }

        svg,
        span {
          color: map-get($colors, text10);
        }
      }
    }

    .photo {
      .ant-upload-select,
      .ant-upload-list-item-container {
        min-width: 154px;
        min-height: 154px;
      }
    }

    .banner-upload {
      .uploader {
        .ant-upload-select,
        .ant-upload-list-item-container {
          min-width: 300px;
          height: 72px !important;

          .upload-button svg {
            width: 28px;
            height: 28px;
          }

          img {
            border-radius: 8px;
          }
        }
      }

      .banner-templates {
        h4 {
          @extend .font-size-14;
          @extend .font-weight-500;
          margin-bottom: 16px;
          color: map-get($colors, text10);
        }
      }
    }
  }

  .banner {
    max-width: 495px;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 0.2s ease forwards;

    .generator_banner_right {
      @extend .p-5;
      background-color: map-get($colors, natural);
      border-radius: 12px;
      flex-grow: 1;

      .generator-header {
        @extend .font-size-14;

        .message {
          @extend .py-2;
          background-color: map-get($colors, light10);
          color: map-get($colors, text);
          font-weight: 400;
          border-radius: 8px 8px 0px 0px;
        }

        .mail-forms {
          @extend .py-2;
          color: map-get($colors, light30);
          font-weight: 400;
          border-bottom: 1px solid map-get($colors, light30);
        }
      }

      .right-regard {
        @extend .mt-4;
        @extend .p-3;
        border-radius: 8px;

        &-img {
          img {
            width: 100%;
            border-radius: 5px;
          }
        }

        &-container {
          @extend .flex-container;
          @extend .flex-column;
          @extend .flex-justify-space-between;
          @extend .px-5;
          line-height: 1.5;

          h2 {
            @extend .font-size-16;
            text-transform: capitalize;
          }

          p {
            @extend .font-size-12;
            text-transform: capitalize;
          }
        }

        &-qr {
          @extend .flex-container;
          @extend .flex-column;
          @extend .flex-align-end;
          gap: 15px;
        }

        .sosial-icons {
          @extend .flex-container;
          gap: 4px;

          svg {
            color: map-get($colors, text);
            height: 18px;
            width: 18px;
          }
        }

        &-contacts {
          &-item {
            @extend .flex-container;
            @extend .flex-align-center;

            p {
              @extend .mx-2;
            }
          }
        }
      }
    }
  }

  &.onscroll {
    .utils {
      position: fixed;
      top: 10px;
      min-height: 640px;
    }

    .dashboard,
    .members {
      margin-left: calc(var(--utils-width) + 25px);
    }

    .banner {
      position: fixed;
      top: 10px;
      margin-left: calc(var(--utils-width) + 25px + var(--dashboard-width) + 25px);
    }
  }

  .members {
    background-color: map-get($colors, natural);
    width: 100%;
    border-radius: 12px;
    overflow-y: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 0.2s ease forwards;

    p,
    span {
      @extend .font-size-16;
      @extend .font-weight-500;
    }

    &-header {
      p {
        color: map-get($colors, text52);
      }
    }

    &-user-count {
      p {
        color: map-get($colors, text);
      }

      span {
        color: map-get($colors, primary);
      }
    }

    .emails {
      @extend .flex-container;
      @extend .flex-align-center;
      @extend .font-size-14;
      gap: 4px;
      border: 1px solid map-get($colors, lightGray50);
      background-color: map-get($colors, natural);
      color: map-get($colors, text);
      padding: 5px;
      border-radius: 50px;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid map-get($colors, primary);
        background-color: map-get($colors, lightGray50);
      }

      svg {
        color: map-get($colors, text30);
        cursor: pointer;
      }
    }

    &-user-add {
      .tagInput {
        border-radius: 8px;
        min-width: 531px;
        max-width: 787px;

        input {
          flex-grow: 1;
        }
      }

      .error-message {
        span {
          @extend .font-size-12;
          color: map-get($colors, danger);
        }
      }

      button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    &-user-add,
    &-user-list {
      p {
        color: map-get($colors, text30);
      }
    }

    &-user-list {
      p {
        margin-bottom: 10px;
      }

      table {
        width: 80%;

        thead {
          th {
            @extend .font-size-14;
            @extend .font-weight-500;

            text-align: start;
            color: map-get($colors, text30);
          }
        }

        tbody {
          td {
            @extend .font-size-14;
            @extend .font-weight-500;
            @extend .flex-container;
            @extend .flex-align-center;
            gap: 10px;

            text-align: start;
            color: map-get($colors, text);

            img {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 1px solid map-get($colors, primary);
              background-color: map-get($colors, text52);
            }

            button {
              @extend .p-0;
              @extend .font-size-14;
              @extend .font-weight-400;

              border-radius: 8px;
              max-width: 137px;
              max-height: 37px;
              min-height: 37px;
            }
          }
        }
      }
    }
  }

  .template {
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 0.2s ease forwards;

    .right-regard {
      @extend .mt-0;
    }
  }

  .signature {
    width: 100%;

    &-template {
      border: 2px solid map-get($colors, primary60);
      border-radius: 15px;
      background-color: map-get($colors, natural);
      padding: 32px 24px;

      .banner {
        .right-regard {
          @extend .mt-0;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 29px;
      color: map-get($colors, text10);
      @extend .font-size-18;
      position: relative;

      h3 {
        @extend .font-size-24;
        @extend .font-weight-500;
        color: map-get($colors, primary);
      }

      .user-data {
        .email {
          display: flex;
          align-items: center;
          gap: 10px;
          color: map-get($colors, text30);

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid map-get($colors, primary);
            background-color: map-get($colors, lightGray50);
          }
        }
      }

      .clock {
        @extend .font-size-16;
        display: flex;
        align-items: center;
        gap: 10px;
        color: map-get($colors, text30);

        svg {
          width: 28px;
          height: 28px;
          color: map-get($colors, text60);
        }
      }

      .user-status {
        p {
          color: map-get($colors, text60);
        }

        .switch-button {
          .ant-switch-checked {
            background-color: #34c759;
          }
        }
      }

      .edit-remove {
        position: absolute;
        bottom: 0;
        right: 0;
        gap: 24px;
      }
    }
  }
}

.photo-modal {
  .ant-upload-select,
  .ant-upload-list-item-container {
    min-width: 304px;
    min-height: 300px;
  }

  .upload-button {
    svg {
      color: map-get($colors, primary);
      width: 36px;
      height: 36px;
    }

    p {
      @extend .font-size-10;
      color: map-get($colors, text);
      line-height: 1.5;
    }
  }
}

.modal-font-select {
  fieldset {
    border: none;
  }

  svg {
    display: none;
  }
}

.ant-modal-content {
  border-radius: 16px !important;

  .ant-modal-close:hover {
    background-color: transparent !important;
  }

  .customize-container {
    border: 1px solid map-get($colors, lightGray50);
    border-radius: 16px;
    padding: 20px 15px;

    .font-controller {
      padding: 16px 28px;
      border-radius: 8px;
      background-color: map-get($colors, lightGray60);
      width: fit-content;
    }

    .font-weight-chechbox {
      .ant-checkbox-inner {
        width: 30px;
        height: 30px;

        &::after {
          width: 9px;
          height: 19px;
        }
      }
    }
  }

  .customize-box {
    border: 1px solid map-get($colors, lightGray50);
    border-radius: 12px;
    padding: 15px 20px;
    width: fit-content;

    .color-picker {
      min-width: 120px;
      min-height: 47px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: map-get($colors, natural);
        font-size: 30px;
      }
    }

    .font-case {
      min-width: 54px;
      min-height: 54px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map-get($colors, primary60);
      color: map-get($colors, text30);
      font-size: 18px;
      cursor: pointer;
      user-select: none;

      &.selected {
        background-color: map-get($colors, primary);
        color: map-get($colors, natural);
      }
    }
  }

  .color-customize {
    height: 307px;

    .colors-pallete {
      gap: 16px;

      .ant-color-picker-trigger {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("../../../../public/color_wheel.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 130%;
        display: inline-block;
        border-radius: 50%;

        .ant-color-picker-clear {
          visibility: hidden;
        }

        .ant-color-picker-color-block-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-40%, -40%);

          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .color {
        cursor: pointer;
        border: 1px solid map-get($colors, light10);
        user-select: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: map-get($colors, primary);
      }
    }
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
